
h2 {
  color: #d3687f;
  margin-top: 64px;
}

h3 {
  font-size: 110%;
}


.destacar {
  color: yellow;
  background-color: grey;
  border-radius: 5px;
}


.detalle {
  color: #E7E8EA;
  background-color: #9A9A9A;
  padding: 3px;
  border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-sans-serif: "Montserrat", sans-serif;